.App {
  background-color: #111;
  min-height: 100vh;
  text-align: left; 
}

.search__results {
  padding-top: 100px;
  width: 100%;
}

.search__results h2 {
  color: white;
  margin-left: 20px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .search__results {
    padding-top: 80px;
  }
  
  .search__results h2 {
    font-size: 1.2rem;
  }
}